github-copilot/hosts.json
gh/hosts.yml
lazygit/state.yml
dconf
enchant
pypoetry/auth.toml
pypoetry/poetry.lock
pypoetry/pyproject.toml
htop
pulse
gedit/accels
nvim/nvim.appimage
nvim/lazy-lock.json
google-chrome
nvim/lazy-lock.json
Code
gtk-3.0
ibus/bus
unity3d/*
user-dirs.locale
user-dirs.dirs
mimeapps.list
gnome-initial-setup-done
yelp/yelp.cfg
evolution/sources
.gsd-keyboard.settings-ported
discord
Docker Desktop
pgadmin4
autokey
monitors.xml*
systemd/user/graphical-session.target.wants
QtProject.conf
kdenlive-layoutsrc
kdenliverc
pgadmin
kdeconnect
eog
nautilus
github-copilot/versions.json
gedit
cef_user_data/Dictionaries
freerdp
lazysql
remmina
pavucontrol.ini
nvim/neovide.appimage
zellij/bin/*
evince
MongoDB Compass
menus
packer
go/telemetry/local
Google/AndroidStudio2023.3
microsoft-edge
.DS_Store
rclone
