github-copilot/hosts.json
gh/hosts.yml
lazygit/state.yml
dconf
enchant
pypoetry/auth.toml
pypoetry/poetry.lock
pypoetry/pyproject.toml
htop
pulse
gedit/accels
nvim/nvim.appimage
nvim/lazy-lock.json
google-chrome
nvim/lazy-lock.json
