[Desktop Entry]
Type=Application
Exec=/usr/bin/xmodmap /home/mattias/.config/Xmodmap
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Xmodmap
Name=Xmodmap
Comment[en_US]=add my custom keymap
Comment=add my custom keymap
